@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.show-add-icon {
  fill: green;
  animation-name: show-add-icon;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.hide-add-icon {
  fill: red;
  transform: rotate(-135deg);
  animation-name: hide-add-icon;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes show-add-icon {
  from {
    fill: red;
    transform: rotate(-135deg);
  }
  to {
    fill: green;
    transform: rotate(0deg);
  }
}

@keyframes hide-add-icon {
  from {
    fill: green;
    transform: rotate(0deg);
  }
  to {
    fill: red;
    transform: rotate(-135deg);
  }
}
